.container {
  width: 314px;
  margin: 0 auto;
}

.postArea {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-items: center;
  color: var(--neutral-darkest);
}

.imgCover {
  border-radius: 16px;
}

.postInfosContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.writterPic {
  flex: 1;
  max-width: 40px;
}

.writterPic img {
  width: 100%;
}

.postInfos {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.postDate {
  color: var(--neutral-extra-dark);
}

.chipBack {
  align-self: flex-start;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .postArea {
    width: 70%;
    margin: 0 auto;
  }
}
