.filterChip {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  border-radius: 42px;
  height: 32px;
  padding: 0 12px 0 16px;
  justify-content: space-between;
  border: 1px solid var(--secondary-medium);
  color: var(--secondary-medium);
  background-color: var(--neutral-lightest);
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.filterChip:hover {
  background-color: var(--secondary-medium)/95;
}