.filterArea {
  position: relative;
  display: flex;
  width: 314px;
  gap: 8px;
  margin: 12px auto;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.orderLabel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  color: var(--neutral-extra-dark);
  border-radius: 48px;
  cursor: pointer;
}

.orderLabel:hover {
  background-color: var(--accent-1-medium);
  color: var(--neutral-extra-light);
}

.overlay {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  z-index: 1000;
}

.listItemsContainer {
  color: var(--neutral-darkest);
  width: 282px;
  background-color: var(--neutral-extra-light);
  padding: 16px;
  border-radius: 16px;
  box-shadow: var(--neutral-dark) 0px 3px 10px 1px;
}

.itemsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 8px;
}

@media (min-width: 768px) {
  .filterArea {
    display: none;
  }
}